<html>
  <head>
  <title>RadBox for the iPad</title>
  <link rel="stylesheet" media="all and (orientation:landscape)" href="/css/style.css">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=0;">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
  <div id="wrapper">
    
    {% include "nav.html" %}
    
    <div id="archives">
    
    <ol>
    {% for video in videolist %}
            <li class="archive_item"><div class="single">{{ video.3 }}<a  href="/video/{{ video.1 }}/">{{ video.0 }} </a></div> </li>
    {% endfor %}
    </ol>
    
    
    
    </div>
    
  </div>  
  </body>
</html>